/* /////////////////////////////////////////////////////////////////////////// */
/* Common Styles */
/* /////////////////////////////////////////////////////////////////////////// */
* {
  text-align: center;
  margin: 20px auto;
}
.description {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #3887be;
}

hr {
  border: 5px solid #38419d;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Overflow Sections */
/* /////////////////////////////////////////////////////////////////////////// */
#ellipse {
  width: 300px;
  border: 3px solid #52d3d8;
}
.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.para-1 {
  height: 200px;
  overflow: scroll;
}
.para-2 {
  height: 200px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Animation Section  */
/* ////////////////////////////////////////////////////////////////////////// */
.box {
  width: 200px;
  height: 150px;
}
.outer-box {
  background-color: #3887be;
  border-radius: 10px;
  transition: transform 0.25s ease-in;
}
.inner-box {
  margin: auto;
  background-color: #52d3d8;
  border-radius: 30px;
  transition: transform 0.5s ease-in-out 0.25s;
}
.inner-box p {
  padding: 3rem;
}
.outer-box:hover {
  transform: scale(0.75);
}
.outer-box:hover .inner-box {
  transform: translateX(300px) scale(1.5);
}
