/* /////////////////////////////////////////////////////////////////////////// */
/* Common Styles */
/* /////////////////////////////////////////////////////////////////////////// */
* {
  text-align: center;
  margin: 20px auto;
}
.description {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #3887be;
}
h2 {
  margin-top: 50px;
}
hr {
  border: 5px solid #38419d;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Overflow Sections */
/* /////////////////////////////////////////////////////////////////////////// */
.overflow {
  display: flex;
}
#ellipse {
  width: 300px;
  border: 4px solid #3887be;
}
.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.para-1 {
  height: 200px;
  overflow: scroll;
}
.para-2 {
  height: 200px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Transition Section  */
/* ////////////////////////////////////////////////////////////////////////// */

.box-container {
  display: flex;
  margin-top: 100px;
}
.box {
  width: 200px;
  height: 150px;
}
.outer-box {
  background-color: #3887be;
  border-radius: 10px;
  transition: transform 0.25s ease-in;
}
.inner-box {
  margin: auto;
  background-color: #52d3d8;
  border-radius: 30px;
  transition: transform 0.5s ease-in-out 0.25s;
}
.inner-box p {
  padding: 3rem;
  margin: 0px;
}
.outer-box:hover {
  transform: scale(0.75);
}
.outer-box:hover .inner-box {
  transform: translatey(-100px) scale(1.5);
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Animation Section  */
/* ////////////////////////////////////////////////////////////////////////// */

.animation-container {
  margin: 50px 100px;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  border: 5px solid #3887be;
}
.animation-container:hover #bat {
  transform: rotate(-60deg);
  transform-origin: top right;
}
.animation-container:hover .ball {
  transform: translate(690px, -327px);
}

#bat {
  width: 300px;
  transition: transform 0.25s ease-in;
}
.ball {
  width: 70px;
  height: 70px;
  margin: 0px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  left: 527px;
  bottom: 200px;
  transition: transform 0.5s ease-out.25s;
}
