
/* /////////////////////////////////////////////////////////////////////////// */
/* Common Styles */
/* /////////////////////////////////////////////////////////////////////////// */
* {
  text-align: center;
  margin: 20px auto;
}
.description {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid steelblue;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Overflow Sections */
/* /////////////////////////////////////////////////////////////////////////// */
#ellipse {
  width: 300px;
  border: 3px solid tomato;
}
.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.para-1 {
  height: 200px;
  overflow: scroll;
}
.para-2 {
  height: 200px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Animation Section  */
/* ////////////////////////////////////////////////////////////////////////// */

